
#filters {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }



    .filter {
      text-align: center;
      margin-right: 2rem;
      margin-top: 2rem;
      opacity: 0.7;
    }


    .filter:hover {
      opacity: 1;
      cursor: pointer;
    }

    .filter a {
      font-size: 0.8rem;
      text-decoration: none;
      color:black;
    }

    
  .category-item.active {
  border-bottom: 2px solid black;
  font-weight: 600;
}

    .tax-info {
      display: none;
      color: black;
    }

    .tax-toggle{
           border: 1px solid  white;
          background-color: #aca0a0;
           border-radius: 1rem;
           height:3.25rem;
           padding:1rem ;
           display: flex;
           align-items: center;
           margin-top: 1rem;
           margin-left: auto;
          
    }

    .tax-toggle:hover{
     background-color: #fe424d;;
    }
