
.f-info-links a{
 text-decoration: none;
 color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links, .f-info-social , .f-info-brand{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-social i{
    font-size: 1.2rem;
    margin-left: 2rem;
    
}

.f-info {
    text-align: center;
    display: flex;
    background-color: #ebebeb;
    height: 8rem;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-evenly;
}
