body{
     font-family: "Plus Jakarta Sans", sans-serif !important;
     display: flex;
     flex-direction: column;
     min-height: 100vh;
}

/* Card */

.listingIndex-card {
  position: relative !important;
  border: none !important;
  margin-bottom: 2rem;
  background: white;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
  transition: transform 0.2s ease;
   display: flex;
  flex-direction: column;
  height: 320px; 
}

.listingIndex-card:hover {
  transform: translateY(-4px);
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text p{
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none !important;
}

/* Card Effect */

.listing-card img {
  transition: filter 0.3s ease;
}

.listing-card:hover img {
  filter: brightness(85%);
}

/* Image */
.img-wrapper img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}


/* badge */
.badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background: white;
  color:black;
  padding: 4px 10px;
  font-size: 12px;
  border-radius: 999px;
  font-weight: 600;
  white-space: nowrap;
  text-transform: capitalize;
}

/* Heart */

.heart-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 25px;
  color: white;
  
}


.heart-btn i.fa-regular {
  color: white;
}


.heart-btn i.fa-solid {
  color: #ff385c; 
}

.heart-btn i {
  transition: transform 0.15s ease, color 0.15s ease;
}

.heart-btn:hover i {
  transform: scale(1.1);
}

/* Info */
.listingIndex-info {
  padding: 14px 14px;
  display: flex;
  flex-direction: column;
  flex: 1;
  color: black;
  font-weight: 600;
}


.listingIndex-info .title {
  font-size: 1rem;
  margin: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
