 .navbar {
   height: 5rem !important;
   background-color: whitesmoke !important;
 }

 .fa-compass {
   color: #fe424d;
   font-size: 2rem;
 }

 .nav-link {
   color: #222222 !important;
   margin-right: 1rem;
 }


 .search-btn {
   background-color: #fe424d;
   color: white;
   border-radius: 25px;
   padding: 0.5rem 1.25rem;
  display: flex;              
  align-items: center;        
  gap: 0.5rem;                
  border: none;
 }

 .search-btn:hover {
   background-color: #fe424d;
   color: #ffff;
 }

 .search-btn i {
  margin: 0;   
 }

 .search-input {
   border-radius: 25px;
   padding:0.5rem 1.25rem ;
   font-size: 1rem;
   min-width: 280px;         
  max-width: 420px;
 }