body{
     font-family: "Plus Jakarta Sans", sans-serif !important;
     display: flex;
     flex-direction: column;
     min-height: 100vh;
}

/* GRID LAYOUT */
.listing-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.listingWish-card {
   position: relative !important;
  border: none !important;
  margin-bottom: 2rem;
  background: white;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
  transition: transform 0.2s ease;
   display: flex;
  flex-direction: column;
  height: 320px; 
}

.listingWish-card:hover {
  transform: translateY(-4px);
}

/* IMAGE */
.image-wrapper img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* INFO */
.listing-info {
  padding: 14px 14px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.listing-info h3 {
  font-size: 1rem;
  margin: 0;
}

.listing-info .title {
  font-size: 1rem;
  margin: 0;

  display: -webkit-box;

  -webkit-box-orient: vertical;
  overflow: hidden;
}

.price {
  font-size: 0.9rem;
  color: #555;
   margin-top: auto;
}

/* ACTIONS */
.card-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.view-link {
  text-decoration: none;
color: #fe424d;
}

.remove-btn {
  background: none;
  border: 1px solid #fe424d;
  color: #fe424d;
  padding: 4px 8px;
  border-radius: 8px;
  cursor: pointer;
}

.remove-btn:hover {
  background: #fe424d;
  color: white;
}
