 <% layout('/layouts/boilerplate') -%>
  


     <div class="auth-container">
  <div class="auth-card">
    <h1>Sign Up on WanderLust</h1>

    <form action="/signup" method="POST" novalidate   class = "needs-validation">
      <div class="form-group">
        <label for="username" class="form-label">Username</label>
        <input type="text" name="username" id="username"class="form-control"  required />
      </div>

      <div class="mb-3">
        <label for="eamil" class="form-label">Email</label>
       <input name="email" type="text"  id="email"  class="form-control" required>      
       </div>

      <div class="form-group">
        <label for="password" class="form-label">Password</label>
        <input type="password" id="password" class="form-control" name="password" required />
      </div>

      <button class="auth-btn">Sign Up</button>
    </form>

    <p class="auth-footer">
      Already  have an account?
      <a href="/signup">Login</a>
    </p>
  </div>
</div>
